receivers:
  otlp:
    protocols:
      grpc:
      http:
exporters:
  googlecloud:
    log:
      default_log_name: opentelemetry.io/collector-exported-log
processors:
  memory_limiter:
    check_interval: 1s
    limit_percentage: 65
    spike_limit_percentage: 20
  resourcedetection:
    detectors: [gcp, env]
    timeout: 10s
    override: false
service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [memory_limiter, resourcedetection]
      exporters: [googlecloud]
    metrics:
      receivers: [otlp]
      processors: [memory_limiter]
      exporters: [googlecloud]
    logs:
      receivers: [otlp]
      processors: [memory_limiter]
      exporters: [googlecloud]